
form label, form input, form select, form textarea {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.65rem;
  padding: 1rem;
}


form input[type="text"], form input[type="password"], form  input[type="email"], form select {
  min-height: 2.75rem;
  padding: 1.5rem;
}

form > .fields, form .fields  {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + 3rem);
  margin: -1.5rem 0 2rem -1.5rem;
}

  form > .fields > .field, form .fields .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }

    form > .fields > .field.half, form .fields .field.half {
      width: calc(50% - 0.75rem);
    }

    form > .fields > .field.third {
      width: calc(100%/3 - 0.5rem);
    }

    form > .fields > .field.quarter {
      width: calc(25% - 0.375rem);
    }

@media screen and (max-width: 700px) {

  .column form > .fields, .column form .fields {
    width: calc(100% + 3rem);
    margin: -1.5rem 0 2rem -1.5rem;
  }

  .column form > .fields > .field, .column form .fields .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }

  .column form > .fields > .field.half, .column form .fields .field.half {
    width: calc(100% - 1.5rem);
  }

  .column form > .fields > .field.third {
    width: calc(100% - 1.5rem);
  }

  .column form > .fields > .field.quarter {
    width: calc(100% - 1.5rem);
  }

}

form label {
color: #ffffff;
display: block;
font-size: 1.5rem;
font-weight: 300;
letter-spacing: 0.2rem;
line-height: 1.5;
margin: 0 0 1rem 0;
text-transform: uppercase;
}

form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form select, form textarea {
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
-moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
-webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
-ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
background-color: transparent;
border-radius: 4px;
border: solid 1px #ffffff;
color: inherit;
display: block;
outline: 0;
text-decoration: none;
width: 100%;
}

form input[type="text"]:invalid, form input[type="password"]:invalid, form input[type="email"]:invalid, form input[type="tel"]:invalid, form select:invalid, form textarea:invalid {
  box-shadow: none;
}

form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form input[type="tel"]:focus, form select:focus, form textarea:focus {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

form select {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23ffffff' /%3E%3C/svg%3E");
background-size: 1.25rem;
background-repeat: no-repeat;
background-position: calc(100% - 1rem) center;
min-height: 2.75rem;
padding-right: 2.75rem;
text-overflow: ellipsis;
}

form select option {
  color: #ffffff;
  background: #1b1f22;
}

form select:focus::-ms-value {
  background-color: transparent;
}

form select::-ms-expand {
  display: none;
}

form input[type="text"], form input[type="password"], form input[type="email"], form select {
min-height: 2.75rem;
}

form textarea {
padding: 0.75rem 1rem;
}

form input[type="checkbox"], form input[type="radio"] {
-moz-appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
appearance: none;
display: block;
float: left;
margin-right: -2rem;
opacity: 0;
width: 1rem;
z-index: -1;
}

form input[type="checkbox"] + label, form input[type="radio"] + label {
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  padding-left: 2.65rem;
  padding-right: 0.75rem;
  position: relative;
}

  form input[type="checkbox"] + label:before,
  form input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  form input[type="checkbox"] + label:before,
  form input[type="radio"] + label:before {
    -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 4px;
    border: solid 1px #ffffff;
    content: '';
    display: inline-block;
    height: 1.65rem;
    left: 0;
    line-height: 1.65rem;
    position: absolute;
    text-align: center;
    top: -0.15rem;
    width: 1.65rem;
  }

form input[type="checkbox"]:checked + label:before,
form input[type="radio"]:checked + label:before {
  background: #ffffff !important;
  border-color: #ffffff !important;
  color: #1b1f22;
  content: '\f00c';
}

form input[type="checkbox"]:focus + label:before,
form input[type="radio"]:focus + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

form input[type="checkbox"] + label:before {
border-radius: 4px;
}

form input[type="radio"] + label:before {
border-radius: 100%;
}

.column .fields .field .newProjectForm.input{
  width: 100%;
}