.table-wrapper table {
  border-collapse: collapse;
	border-spacing: 0;

	color: #ffffff;
}

.table-wrapper table.table.tableDesign2019 tr td {
	line-height: 2.75rem;
}

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.table-wrapper table.tableDesign2019 {
  margin: 0 0;
  width: 100%;
}

.table-wrapper table {
  margin: 0 0 2rem 0;
  width: 100%;
}

.table-wrapper table tbody tr {
  border: solid 1px #ffffff;
  border-left: 0;
  border-right: 0;
}

.table-wrapper table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.table-wrapper table td {
  padding: 0.75em 0.75em;
}

.table-wrapper table th {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

.table-wrapper table thead {
  border-bottom: solid 2px #ffffff;
}

.table-wrapper table tfoot {
  border-top: solid 2px #ffffff;
}

.table-wrapper table.alt {
  border-collapse: separate;
}

.table-wrapper table.alt tbody tr td {
  border: solid 1px #ffffff;
  border-left-width: 0;
  border-top-width: 0;
}

.table-wrapper table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

.table-wrapper table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

.table-wrapper table.alt thead {
  border-bottom: 0;
}

.table-wrapper table.alt tfoot {
  border-top: 0;
}

.table .pdfIcon {
  font-size: 2.5rem;
}

.table .addToPDF {
	position: relative;
	margin-left: 2.5rem;
}

.table .addToPDF .addIcon {
    position: absolute;
    bottom: -0.6rem;
    left: -0.6rem;
    background: #000;
    /* margin: 0.5rem; */
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 0.5em;
}

.actionButtons {
  float: right;
  padding: 1rem 0;
  margin-right: 0;
  margin-left: 0;
}

.actionButtons .actionButtons--itemWrapper .btn {
  width: 100%;
	height: 100%;
  max-height: 5rem;
  max-width: 20rem;
  white-space: normal;
  word-wrap: break-word;
}


tr.footable-detail-row .footable-details.table.tableDesign2019{ 
	background-color: inherit;
}

tr.footable-detail-row .footable-details.table.tableDesign2019 input[type=text] { 
	display: none;
	visibility: hidden;
}

.table .pdfIcon.checkboxIcon {
	font-size: 3rem;
}

span.footable-toggle.fooicon.fooicon-plus, span.footable-toggle.fooicon.fooicon-minus {
  margin-right: 1rem;
  color: #7cc67c;
  padding: 0.5rem 0.75rem;
  border: 1.5px solid #7cc67c;
  border-radius: 50%;
  opacity: 0.9;
}

@media only screen and (max-width: 1000px) {
  .actionButtons .actionButtons--itemWrapper {
    padding: 0.5rem 0;
    text-align: center;
  }
}
