* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

:root {
  --main-dark-color: #057705;
  --main-light-color: #16db16;
  --link-color: #20aae5;
  --dark-element-color: #73b6e2;
  --gray-color: #d3d3d3;
  --success-color: #2ecc71;
  --main-complementary-color: #d6b4b4;
  --secondary-complementary-color: #ae1506;
}

@font-face {
  font-family: "Bellota-LightItalic";
  src: url("../fonts/Bellota-LightItalic.otf");
}

@font-face {
  font-family: "Bellota-BoldItalic";
  src: url("../fonts/Bellota-BoldItalic.otf");
}

body {
  /*line-height: 17px;*/
  background-color: #e6eae8;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.top_bar {
  width: 100%;
  height: 9rem;
  background-color: var(--main-dark-color);
  border-bottom: 0.25em solid var(--main-light-color);
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed; /*make the nav fixed*/
  z-index: 10; /*show the nav first over before the body*/
}

.logo a {
  font-family: "Bellota-LightItalic", sans-serif;
  margin-left: 20px;
  font-size: 150%;
  position: relative;
  top: 8px;
  text-shadow: var(--dark-element-color) 0.5px 0.5px 0px;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

nav {
  margin-left: auto;
}

nav #burgerIcon {
  display: none;
  visibility: hidden;
}

nav ul {
  list-style-type: none;
}

nav #websitePcMenu {
  display: flex;
}

nav #websiteMobileMenu {
  display: none;
  visibility: hidden;
}

nav #websitePcMenu li {
  text-align: center;
  margin: 0 auto;
  padding-right: 0.5rem;
}
nav #websitePcMenu li a div {
  margin-top: 0.75rem;
}

nav #websitePcMenu li a:hover div:nth-child(2) {
  margin-top: 0.25rem;
}

nav a div.mainMenuItemIcon {
  max-height: 3rem;
  overflow: hidden;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}

nav li .projectContent {
  color: var(--main-complementary-color);
}

nav a div,
nav a div i {
  transition: all 0.5s linear 0.1s;
}

nav a:hover div,
nav a:hover div i,
nav a:hover .websiteMobileMenu--Icon,
nav a:hover .websiteMobileMenu--Description {
  color: var(--main-light-color);
}

nav a:hover div.projectContent,
nav a:hover div i.projectContent,
nav a:hover .websiteMobileMenu--Icon i.projectContent,
nav a:hover .websiteMobileMenu--Description.projectContent {
  color: var(--secondary-complementary-color);
}

/*
.websiteMobileMenu--Icon
.websiteMobileMenu--Description
*/

nav a:hover div i {
  font-size: 175%;
}

.content {
  margin: 10rem;
  position: absolute;
}

.wrapper {
  margin: 0 auto;
  top: 11rem;
  position: relative;
  padding: 0 10px;
  padding-bottom: 7rem;
  width: 85%;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  box-shadow: 2px 2px 1px var(--gray-color);
  z-index: 1;
  color: #555;
}

.user_details {
  align-items: center;
  float: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.user_details_row {
  width: 100%;
}

.user_details_profile,
.user_details_topics {
  max-height: 600px;
  padding: 0 0;
}

.user_details_left_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_details_left_right a {
  color: var(--main-dark-color);
}

.user_details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.main_column {
  float: right;
  z-index: +1;
  min-height: 92%;
  position: relative;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 80%;
  height: 60px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid var(--gray-color);
  font-size: 12px;
  resize: none;
  padding: 5px;
}

.post_form input[type="submit"] {
  width: 12%;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-dark-color);
  font-family: "Bellota-BoldItalic", sans-serif;
  color: #fff;
  text-shadow: var(--dark-element-color) 0.5px 0.5px 0px;
  font-size: 90%;
  outline: 0;
  margin: 0;
  float: right;
  transform: translate(-45px, -86px);
}

.post_form input[type="submit"]:active {
  padding: 6px 4px 4px 6px;
  color: red;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
  cursor: pointer;
}

.post_profile_pic {
  float: left;
  margin-right: 7px;
}

.reply_pic {
  border-radius: 5px;
}

#comment_iframe {
  max-height: 250px;
  width: 100%;
  margin-top: 5px;
}

iframe {
  width: 100%;
}

.comment_section {
  padding: 0 5px 5px 5px;
  width: 100%;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 3px;
}

#comment_form textarea {
  border-color: var(--gray-color);
  width: 85%;
  height: 35px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
  border: none;
  background-color: var(--link-color);
  color: #156588;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  font-family: "Bellota-BoldItalic", sans-serif;
  color: #fff;
  text-shadow: var(--dark-element-color) 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
  padding: 0;
  text-decoration: none;
  color: var(--link-color);
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0px;
  height: 17px;
  width: 120px;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #3498db;
  padding: 0;
  height: auto;
  width: auto;
  margin-top: 3px;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  top: -10px;
  width: 17%;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  float: left;
  position: relative;
  background-color: #37b0e9; /***********/
  border-right: 10px solid #83d6fe;
  color: #cbeaf8;
  margin-right: 20px;
}

.profile_left img {
  min-width: 80px;
  width: 55%;
  margin: 20px;
  border: 5px solid #83d6fe;
  border-radius: 100px;
}

.profile_info {
  display: list-item;
  background-color: #2980b9;
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p {
  margin: 0 0 0 20px;
  word-wrap: break-word;
}

.tab-content {
  margin-top: 25px;
}

.danger {
  background-color: #e74c3c;
}

.warning {
  background-color: #f0ad4e;
}

.default {
  background-color: #bdc3c7;
}

.success {
  background-color: var(--success-color);
}

.info {
  background-color: #3498db;
}

.deep_blue {
  background-color: #0043f0;
}

.profile_left input[type="submit"] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 0 7px;
  border: none;
  color: #fff;
}

#accept_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  background-color: var(--success-color);
  color: #fff;
}

#ignore_button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  background-color: #e74c3c;
  color: #fff;
}

.delete_button {
  position: relative;
  margin-top: -5px;
  width: 35px;
  height: 25px;
  font-size: 15px !important;
  text-align: center;
  float: right;
}

.delete_button i.fa-times {
  color: #fff;
  transform: translateY(-2px);
}

.profile_main_column {
  min-width: 675px;
  float: right;
  width: 80%;
  z-index: 1;
  min-height: 160px;
  position: relative;
}

/*Styl pro projekty */

.projekty-back {
  background: var(--main-dark-color);
  background-image: url("../images/backgrounds/projects.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.projekty-back-title {
  text-align: center;
  color: #fff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.oblast-selection button.btn-default {
  border: 1px solid darkgrey;
}

.row.oblast-selection button.btn {
  min-width: 150px;
  float: left;
}

button.btn.btn-info {
  float: right !important;
}

button.btn.btn-info a {
  color: #fff;
}

/* developer contact.php*/
.strongtext {
  font-weight: bold;
  color: var(--link-color);
  text-align: center;
}

.developertext {
  text-align: center;
}

/* contact end */

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid var(--gray-color);
  font-size: 12px;
}

#message_submit {
  height: 58px;
  width: 120px;
  margin: 0;
  position: absolute;
  border: none;
  background-color: var(--link-color);
  color: #156588;
  border-radius: 5px;
  font-family: "Bellota-BoldItalic", sans-serif;
  text-shadow: var(--dark-element-color) 0.5px 0.5px 0px;
}

.message {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  color: #fff;
}

.message#blue {
  background-color: #3498db;
  border-color: #2980b9;
  float: right;
  margin-bottom: 5px;
}

.message#green {
  background-color: var(--success-color);
  border-color: #27ae60;
  float: left;
  margin-bottom: 5px;
}

.loaded_messages {
  height: 65%;
  min-height: 300px;
  max-height: 450px;
  overflow: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 316px;
  overflow: scroll;
}

.user_found_messages {
  border-bottom: 1px solid var(--gray-color);
  padding: 8px 8px 10px 10px;
}

.user_found_messages:hover {
  background-color: var(--gray-color);
}

.user_found_messages img {
  height: 35px;
  float: left;
}

#grey {
  color: #8c8c8c;
}

/*Live search styling*/

.resultDisplay {
  padding: 5px 5px 0px 5px;
  height: 70px;
  border-bottom: 1px solid var(--gray-color);
}

.resultDisplay a {
  float: none;
}

.resultDisplay:hover {
  background-color: #ebebeb;
  text-decoration: none;
}

.liveSearchProfilePic img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.liveSearchText {
  background-color: transparent;
  color: #1e96ca;
}

.liveSearchText p {
  margin-left: 10px;
  font-size: 12px;
}

.dropdown_data_window {
  height: 280px;
  padding: 0px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f00;
  border-radius: 10px;
  z-index: +3;
  position: absolute;
}

.unread_message {
  right: 1px;
  top: 0px;
}

.unread_requests {
  right: 20px;
  top: 0px;
}

.unread_notification {
  right: 1px;
  top: 0px;
}

/* Notification */

.resultDisplayNotification {
  height: auto;
  color: #1485bd;
}

.resultDisplayNotification img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0;
}

.search {
  margin: 8px 0 0 16px;
}

.search #search_text_input {
  border: thin solid #e5e5e5;
  float: left;
  height: 23px;
  outline: 0;
  width: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button_holder {
  background-color: #f1f1f1;
  border: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 23px;
  text-align: center;
  width: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button_holder img {
  margin-top: 1px;
  width: 20px;
}

.search_results {
  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
  margin-top: 21px;
}

.search_results_footer {
  color: #fff;
  background-color: var(--link-color);
  padding: 7px 4px 0px 4px;
  border: 1px solid #dadada;
  border-top: none;
  text-align: center;
}

.search_results_footer a {
  color: #fff;
  text-decoration: none;
}

.search_result {
  padding: 10px;
  height: 100px;
}

.searchPageFriendButtons {
  float: right;
}

.searchPageFriendButtons input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  color: #fff;
}

.result_profile_pic {
  float: left;
  margin-right: 10px;
}

#search_hr {
  margin-bottom: 0px;
}

#small_profile_pic {
  height: 55px;
  margin: 1px 12px 0 2px;
  float: left;
}

.settingspara {
  width: 350px;
}

.settingsin {
  float: right;
  width: 200px;
}

#settings_input {
  border: 1px solid #ccc;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}

.settings_submit {
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  color: #fff;
  margin: 5px 0 20px 0;
}

.postedImage img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 5px auto;
}

/* -- Project table --*/
.mySearchTable_user_details {
  display: flex;
  justify-content: flex-start;
}

.mySearchTable_user_details .user_details_row {
  width: unset;
  min-width: 30rem;
}

.project_table {
  width: 100%;
  overflow-x: auto;
}

.project_table_info {
  display: none;
  visibility: hidden;
}

#mySearchInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#mySearchTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  /*font-size: 18px;*/
}

.mySearchTable_header {
  background-color: var(--main-light-color);
  color: #fff;
}

.mySearchTable_header:hover {
  color: #000;
}

#mySearchTable th,
#mySearchTable td {
  text-align: left;
  padding: 12px;
  vertical-align: top;
}

#mySearchTable tr {
  border-bottom: 1px solid #ddd;
}

#mySearchTable tr:hover {
  background-color: #8aed8a;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#projectDetailBody #projectDetail--titul {
  text-align: center;
  color: coral;
}

@media only screen and (max-width: 768px) {
  /*
  nav {
    display: flex;
    flex-direction: column;
    background: var(--main-dark-color);
    top: 0px;
  }
  nav a {
    width: 150px;
    display: inline-flex;
    padding: 0 10px;
  }
  nav .nav-mobile-hamburger,
  nav .nav-menu-mobile {
    display: flex;
    flex-direction: row-reverse;
  }

  nav .nav-menu-mobile-hamburger {
    text-align: right;
  }

  nav a.mobileInvisible:not(:first-child) {
    display: none;
    visibility: hidden;
  }

  nav a i.fas {
    margin-right: 10px;
  }
  nav a:hover {
    border-bottom: 0px;
  }
  nav a .nav-icon-mobile {
    width: 40px;
  }
  .mainMenuItems {
    padding-bottom: 6px;
  }
  */
  span.nav-repsonsive-description {
    display: block;
  }
  .project_table_info {
    display: block;
    visibility: visible;
    font-weight: bold;
    color: var(--main-light-color);
  }
}

@media screen and (max-width: 1200px) {
  nav #burgerIcon {
    display: block;
    visibility: visible;
    color: #fff;
    padding: 1rem;
    background-color: var(--main-dark-color);
    width: 3rem;
    right: 2rem;
  }

  nav a#burgerIcon {
    max-width: 3rem;
  }

  nav #burgerIcon .burgerIcon--span {
    float: right;
  }

  nav #websitePcMenu {
    display: none;
    visibility: hidden;
  }

  nav #websiteMobileMenu {
    position: absolute;
    right: 0;
    top: 4rem;
    display: flex;
    visibility: visible;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 10px;
  }

  nav #websiteMobileMenu .websiteMobileMenu--Item {
    display: block;
    visibility: visible;
  }

  nav #websiteMobileMenu .websiteMobileMenu--Item.invisible {
    display: none;
    visibility: hidden;
  }

  nav #websiteMobileMenu .websiteMobileMenu--Item {
    width: 20rem;
  }

  nav #burgerIcon i {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
  }

  nav .websiteMobileMenu--Item {
    background-color: var(--main-dark-color);
    padding: 0.5rem 1rem;
    width: 10rem;
    float: right;
  }

  nav .websiteMobileMenu--Icon {
    padding: 0.5rem;
  }
}
